@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-panel-override {
    z-index: 2147483647 !important;
    position: fixed !important;
  }
  
  .theme-panel-backdrop {
    z-index: 2147483646 !important;
    position: fixed !important;
  }